@import url('./Alex/alex-core.css');

:root {
    --mermaid-theme: dark;
    --bg-color: hsl(286 21% 5%);
    --bg-80: hsl(286 21% 5% / 0.8);
    --quote-color: hsl(286 21% 12%);
    --quote-80: hsla(286, 21%, 12%, 0.5);
    --text-color: hsla(38, 24%, 78%, 1);
    --text-80: hsla(38, 24%, 78%, 0.8);
    --hl: hsla(38, 27%, 60%, 1);
    --hl-op5: hsla(38, 57%, 60%, 0.5);
    --fg: hsla(349, 22%, 64%, 1);
    --mg: var(--fg);
    --md-char-color: hsla(199, 100%, 80%, 1);
    --meta-content-color: hsla(199, 100%, 80%, 1);
    --primary-color: hsla(10, 88%, 23%, 1);
    --primary-btn-border-color: var(--hl);
    --primary-btn-text-color: hsla(0, 0%, 20%, 1);
    --window-border: 1px solid hsla(240, 8%, 9%, 1);
    --active-file-border-color: hsla(45, 83%, 16%, 0.2);
    --search-select-text-color: hsla(0, 0%, 20%, 1);
    --search-select-bg-color: hsla(0, 69%, 36%, 0.7, 1);
    --select-text-bg-color: hsla(0, 12%, 16%, 0.5, 1);
    --rawblock-edit-panel-bd: hsla(0, 0%, 81%, 1);
    --node-fill: hsla(0, 0%, 98%, 1);
    --node-border: #0000001a;
    --filter: invert(55%) sepia(84%) saturate(2346%) hue-rotate(327deg) brightness(99%) contrast(79%);
}

html {
    font-weight: 300;
}


#write :is(h1, h2, h3, h4, h5, h6) {
    /* font-family: "Glacial Indifference"; */
    font-stretch: condensed;
}
#write h1 {
    border-block-end: 1px solid var(--hl);
    padding: 2rem;
    margin: 1em 0;
}


#write a {
    text-decoration-thickness: 3px;
}
/**** dark theme settings 

p, li,
table {
    font-weight: 300;
}

mark {
    font-weight: 400;
}