@import url('./Alex/alex-core.css');
/* 
:root {
	--canvas-1: hsl(38 45 95);
	--canvas-2: hsl(38 35 85);
	--canvas-3: hsl(38 45 75);
	--foreground-1: hsl(349 4 16);
	--foreground-2: hsl(349 22 28);
	--foreground-3: hsl(349 42 35);
	--accent-color: hsl(349 52 44);
	--md-char-color: hsla(0, 95%, 20%, 1);
	--meta-content-color: hsla(0, 95%, 20%, 1);
	--primary-color: hsla(10, 88%, 23%, 1);
	--primary-btn-border-color: var(--hl);
	--primary-btn-text-color: hsla(0, 0%, 20%, 1);
	--window-border: 1px solid hsla(240, 8%, 9%, 1);
	--active-file-border-color: hsla(45, 83%, 16%, 0.2);
	--search-select-text-color: hsla(0, 0%, 20%, 1);
	--search-select-bg-color: hsla(0, 69%, 36%, 0.7, 1);
	--select-text-bg-color: hsla(60, 33%, 1%, 0.5, 1);
	--rawblock-edit-panel-bd: hsla(0, 0%, 81%, 1);
	--node-fill: hsla(0, 0%, 98%, 1);
	--node-border: #0000001a;
} */
