@import url('./Alex/alex-core.css');
@import url('./Alex/fonts/crimson-pro.css');

/**** headers **** */

#write h1 {
	font-family: inherit;
	font-weight: revert;
	margin: 2rem auto;
	text-align: center;
}

/* header fleurons */

#write h1::after {
	display: block;
	content: '';
	margin: 0 auto;
	height: 2rem;
	background-color: var(--accent);
	mask-image: url('./alex/divider.svg');
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	opacity: 0.2;
}
