@import url("./Alex/alex-core.css");
:root {
    --bg-color: hsla(38, 45%, 95%, 1);
    --quote-color: hsl(38 45% 85%);
    --quote-80: hsla(38, 85%, 90%, 1);
    --accent-color: var(--fg);
    --text-color: hsla(286, 4%, 16%, 1);
    --text-80: hsla(286, 4%, 16%, 0.8);
    --hl: hsla(286, 42%, 28%, 1);
    --hl-op5: hsla(286, 42%, 28%, 0.5);
    --fg: hsla(349, 52%, 44%, 1);
    --mg: var(--fg);
    --md-char-color: hsla(0, 95%, 20%, 1);
    --meta-content-color: hsla(0, 95%, 20%, 1);
    --primary-color: hsla(10, 88%, 23%, 1);
    --primary-btn-border-color: var(--hl);
    --primary-btn-text-color: hsla(0, 0%, 20%, 1);
    --window-border: 1px solid hsla(240, 8%, 9%, 1);
    --active-file-border-color: hsla(45, 83%, 16%, 0.2);
    --search-select-text-color: hsla(0, 0%, 20%, 1);
    --search-select-bg-color: hsla(0, 69%, 36%, 0.7, 1);
    --select-text-bg-color: hsla(60, 33%, 1%, 0.5, 1);
    --rawblock-edit-panel-bd: hsla(0, 0%, 81%, 1);
    --node-fill: hsla(0, 0%, 98%, 1);
    --node-border: #0000001a;
    --filter: invert(11%) sepia(66%) saturate(5190%) hue-rotate(4deg)
        brightness(92%) contrast(122%);
}

html {
    font-family: "Bespoke Serif", "Bespoke Serif Variable", Cambria, Cochin,
        Georgia, serif;
    font-size: 120%;
    font-weight: 200;
}

/**** headers ****/

#write h1 {
    margin: 2rem auto;
    text-align: center;
    position: relative;
}

/* header fleurons */

#write h1::after {
    display: block;
    margin: 0;
    opacity: 0.2;
    content: url(./Alex/divider.svg);
    height: 40px;
    aspect-ratio: 1;
    margin-inline: auto;
    filter: invert(21%) sepia(23%) saturate(2028%) hue-rotate(244deg)
        brightness(91%) contrast(95%);
}

/* text hr */

hr {
    background: none;
    border: none;
    height: 3rem;
    width: 100%;
    margin-block: 2rem;
    position: relative;
    padding-block-end: 1rem;
}

hr::after {
    content: "\002A \002A \002A";
    font-size: 3rem;
    text-align: center;
    opacity: 0.5;
    position: absolute;
    inset: 0;
    filter: invert(21%) sepia(23%) saturate(2028%) hue-rotate(244deg)
        brightness(91%) contrast(95%);
}
