@import url("https://fonts.googleapis.com/css2?family=Commissioner:slnt,wght,FLAR,VOLM@-12..0,100..900,0..100,0..100&display=swap");

:root {
    --bg-color: hsl(17 85% 95%);
    --side-bar-bg-color: hsl(17 45% 85%);
    --text-color: hsl(217 95% 16%);
    --text-color-light: hsl(217 75% 36%);

    --select-text-bg-color: hsl(217 40% 85%);

    --item-hover-bg-color: #b7b7b7;
    --control-text-color: #0a0d16;
    --control-text-hover-color: black;
    --window-border: 1px solid hsl(17 45% 70%);
    /* 
    --active-file-bg-color: rgb(34, 34, 34);
    --active-file-border-color: #8d8df0;

    --primary-color: #a3d5fe;

    --active-file-text-color: white;
    --item-hover-bg-color: #70717d;
    --item-hover-text-color: white;
    --primary-color: #6dc1e7;

    --rawblock-edit-panel-bd: #333;

    --search-select-bg-color: #428bca; */
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Commissioner";
    font-optical-sizing: auto;
    font-variation-settings: "FLAR" 40;
    font-size: 112.5%;
}

content {
    background: url("./canvas/background.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
}

#write {
    max-inline-size: 100ch;
    margin-inline: auto;
    padding-inline: 1rem 5rem;
}

#write a {
    color: var(--text-color-light);
    transition: all 250ms;
    &:hover {
        filter: hue-rotate(-40deg);
    }
}

em {
    font-style: normal;
    font-variation-settings: "slnt" -12;
}

#write :is(h1, h2, h3) u {
    display: block;
    font-size: 60%;
    opacity: 0.75;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    font-variation-settings: "slnt" -6;
}

blockquote {
    margin-inline: auto;
    max-inline-size: 50ch;
    background-image: url("./canvas/blockquote.png");
    background-size: 100% 100%;
    padding: 1.5rem 3rem;
    color: var(--text-color-light);
    & cite {
        padding-inline: 1rem;
        font-variation-settings: "slnt" -6;
        font-style: normal;
        &::before {
            content: "— ";
        }
    }
}

table {
    border-collapse: collapse;
    inline-size: calc(100% - 3rem);
}

td {
    padding-inline: 1ch;
}

thead {
    position: relative;
    &::before {
        position: absolute;
        inset-block: 0;
        inset-inline: 0 -1rem;
        content: "";
        background-image: url("./canvas/blockquote.png");
        background-size: 100% 100%;
        filter: hue-rotate(100deg) contrast(80%);
    }
}

th {
    padding: 1ch;
}

tr:not(:first-of-type, :last-of-type) {
    border-block: thin solid var(--select-text-bg-color);
}
