/* @import url("https://fonts.googleapis.com/css2?family=Commissioner:slnt,wght,FLAR,VOLM@-12..0,100..900,0..100,0..100&display=swap"); */
@font-face {
    font-family: "Commissioner";
    src: url("./canvas/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf");
}

:root {
    --bg-color: hsl(17 85% 95%);
    --side-bar-bg-color: hsl(17 45% 85%);
    --text-color: hsl(217 95% 16%);
    --text-color-light: hsl(217 75% 36%);

    --select-text-bg-color: hsl(217 40% 85%);

    --item-hover-bg-color: #b7b7b7;
    --control-text-color: #0a0d16;
    --control-text-hover-color: black;
    --window-border: 1px solid hsl(17 45% 70%);
    --active-file-text-color: var(--bg-color);
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* typography */

html {
    font-family: "Commissioner";
    font-optical-sizing: auto;
    font-variation-settings: "FLAR" 40;
    font-size: 115%;
}

#write {
    & h1 {
        font-size: 2rem;
        filter: brightness(150%);
    }
    & h2 {
        font-size: 1.5rem;
        filter: hue-rotate(40deg) brightness(150%);
    }
    & h3 {
        font-size: 1.2rem;
        filter: hue-rotate(80deg) brightness(150%);
    }
    & h4 {
        font-size: 1rem;
        filter: hue-rotate(120deg) brightness(150%);
    }
    & h5 {
        font-size: 0.8rem;
        filter: hue-rotate(160deg) brightness(150%);
    }
    & h6 {
        font-size: 0.8rem;
        filter: hue-rotate(200deg) brightness(150%);
    }

    & :is(h1, h2, h3, h4, h5, h6) {
        margin-block: calc(0.5em + 0.5rem);
    }
}

em {
    font-style: normal;
    font-variation-settings: "slnt" -12;
}

/* layout */

content {
    background: url("./canvas/background.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
}

#write {
    margin-inline: auto;
    margin-block-end: 30dvb;
    min-block-size: 100dvb;
    max-inline-size: 85ch;
    padding-inline: 1rem 5rem;
}

/* elements */

@property --slant {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

#write a {
    --slant: 0;
    color: var(--text-color-light);
    filter: hue-rotate(-50deg) contrast(130%);
    font-variation-settings: "slnt" var(--slant);
    transition: all 250ms;
    &:hover {
        --slant: -6;
        filter: none;
    }
}

#write :is(h1, h2, h3) u {
    display: block;
    font-size: 60%;
    opacity: 0.75;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    font-variation-settings: "slnt" -6;
}

blockquote {
    margin-inline: auto;
    max-inline-size: 60ch;
    background-image: url("./canvas/rect.png");
    background-size: 100% 100%;
    padding: 1.5rem 3rem;
    font-variation-settings: "slnt" -4;
    & cite {
        padding-inline: 1rem;
        font-variation-settings: "slnt" 0;
        font-style: normal;
        &::before {
            content: "— ";
        }
    }
}

table {
    border-collapse: collapse;
    margin-inline: auto;
    inline-size: calc(100% - 2rem);
}

thead {
    position: relative;
    &::before {
        position: absolute;
        inset-block: 0;
        inset-inline: 0 -1rem;
        content: "";
        background-image: url("./canvas/stripe.png");
        background-size: 100% 100%;
        transform: rotate(180deg);
        filter: hue-rotate(100deg) contrast(60%) brightness(150%);
        z-index: -1;
    }
}

th {
    padding: 1ch;
}

td {
    padding-inline: 1ch;
    text-wrap: balance;
}

tr:not(:first-of-type, :last-of-type) {
    border-block: thin solid var(--select-text-bg-color);
}

li {
    padding-inline-start: 0.5ch;
}

del {
    filter: contrast(50%) brightness(150%);
}

pre.md-meta-block,
sup.md-footnote {
    background: var(--side-bar-bg-color);
    color: var(--text-color);
}

pre.md-meta-block {
    border-radius: 8px;
    padding: 10px;
    line-height: 1;
}

/* UI */

.file-tree-node.active > .file-node-background {
    border: none;
    background-color: transparent;
    background-image: url("./canvas/stripe.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
