@import url("./plugins/subtitles.css");
@import url("./plugins/print.css");

:root {
    --side-bar-bg-color: hsl(100 20% 85%);
    --bg-color: hsl(100 10% 95%);
    --text-color: hsl(100 80% 15%);
    --accent-color: hsl(100 90% 25%);
}

html {
    font-family: "Departure Mono", ui-sans-serif, sans-serif;
    -webkit-font-smoothing: none;
    --moz-osx-font-smoothing: disabled;
    font-smooth: never;
}

#write {
    margin-inline: auto;
    inline-size: min(calc(100% - 3em), 100ch);
    padding-block: 3em 10em;
    padding-inline: 1.5em;
    line-height: 1.75;
    font-size: 1.125em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 0.5em;
}

:is(h1, h2, h3, h4)::before {
    content: "# ";
    opacity: 0.3;
    margin-inline-start: -2ch;
}

h2::before {
    content: "$ ";
}

h3::before {
    content: "\\ ";
}

h4::before {
    content: "~ ";
}

p,
ul,
ol {
    margin-bottom: 1.5em;
}

blockquote {
    padding-left: 1em;
    border-left: 2px solid var(--accent-color);
}

th,
td {
    border: 1px solid var(--accent-color);
    padding: 0px 3px;
}

hr {
    block-size: 0;
    inline-size: 200vw;
    margin-inline-start: -50vw;
    margin-block: 6rem;
    border-block-end: thin dashed var(--accent-color);
}

code {
    background-color: #eee;
    font-family: inherit;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px hsl(0 100% 100% / 0.4),
        0 2px 0 0 hsl(0 0% 100% / 0.7) inset;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1;
    padding: 4px;
    white-space: nowrap;
}
