@import url("../plugins/subtitles.css");
@import url("../plugins/blockquote-aside-hack.css");
@import url("../plugins/codeblock.dark.css");
@import url("../plugins/print.css");

@font-face {
    font-family: "Albert Sans";
    src: url("./fonts/AlbertSans.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Albert Sans";
    src: url("./fonts/AlbertSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Newake";
    src: url("./fonts/Newake-Font-Demo.otf");
}

:root {
    --mermaid-theme: default;
    --mermaid-font-family: verdana;
    --ratio: 1;
    --active-file-bg-color: var(--fg, darkred);
    --active-file-text-color: var(--bg-color, white);
    --active-search-item-bg-color: var(--quote-color, cornsilk);
    --side-bar-bg-color: var(--quote-color, hsl(38, 100%, 85%));
    --item-hover-bg-color: var(--hl, darkred);
    --item-hover-text-color: var(--bg-color, white);
    --heading-char-color: var(--hl, darkred);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* font settings */

html {
    font-family: "Albert Sans";
    font-variant-numeric: tabular-nums;
    text-rendering: optimizeLegibility;
    font-size: 1.1em;
}

/* spacing */

#write {
    margin-inline: auto;
    margin-block-end: 10rem;
    max-inline-size: 90ch;
    padding-block: 3rem;
    padding-inline: 1rem;
    position: relative;

    & :is(p, h1, h2, h3, h4, h5, h6):not(:first-of-type) {
        margin-block-start: 1em;
    }

    & :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
        margin-block-start: 0;
    }

    & :is(li, li p) {
        margin-block-end: 5px;
        margin-block-start: 0;
    }

    & :is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, table) {
        line-height: calc(1em + 0.6rem);
    }
}

::selection {
    background: var(--hl, darkred);
    color: var(--bg-color, ghostwhite);
}

/* meta content & footnotes */

pre.md-meta-block,
sup.md-footnote {
    background: var(--quote-color, lightgray);
    color: var(--hl, darkred);
}

/* bold */

strong {
    font-weight: 700;
}

/* strikethrough */

del {
    text-decoration: line-through wavy hsl(0 50% 50% / 0.4) 3px;
}

/* headers and subheaders */

#write {
    h1 {
        text-wrap: balance;
        padding: 1rem;
        font-size: 2.4rem;
        text-align: center;
        letter-spacing: -2px;
    }

    h2 {
        font-size: 2rem;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
        font-style: italic;
    }

    h6 {
        font-size: 0.8rem;
        font-variant: small-caps;
    }
}
/* blockquotes */

blockquote {
    page-break-inside: avoid;
    margin-inline-start: 1em;
    border-inline-start: 2px solid var(--mg, var(--fg, lightgray));
    padding-inline-start: 1em;
    font-style: italic;
    opacity: 0.8;

    & em {
        font-style: normal;
    }

    & cite {
        font-style: italic;

        &::before {
            content: "\2014";
            padding-inline-end: 1ch;
        }
        & em {
            font-style: normal;
            font-variant: small-caps;
        }
    }
}

/* Code */

code {
    color: var(--fg);
    padding-inline: 0.5ch;
}

/* hyperlinks */

#write a {
    color: var(--mg, darkred);
    font-weight: 500;
    transition: all 0.4s;
    text-decoration: none;

    &:hover {
        color: var(--hl);
        filter: contrast(120%) saturate(150%);
    }

    &::before,
    &::after {
        color: var(--text-color);
        display: inline;
        opacity: 0.5;
    }

    &::before {
        content: "[";
    }

    &::after {
        content: "]";
    }
}
#write .md-link.md-expand a {
    &::before,
    &::after {
        content: "";
    }
}

/**** text hr ****/

hr {
    position: relative;
    background: none;
    margin-block: 2rem;
    block-size: 2rem;
    inline-size: 100%;
    border: none;
    /* border-block-end: 1px solid var(--hl); */
    /* opacity: 0.25; */
    &::after {
        position: absolute;
        inline-size: 100%;
        content: "\2744 \2744 \2744";
        font-size: 2rem;
        font-family: sans-serif;
        text-align: center;
        color: var(--hl);
        opacity: 0.5;
        line-height: 1;
    }
}

/* tables */

th,
td {
    border: none;
    padding: 0.25ch 0.5ch;
    vertical-align: top;
}

tbody tr:has(td:first-of-type span.md-plain) {
    border-block-start: 1px solid hsl(0 0% 50% / 0.2);
}

table,
thead,
tr:last-of-type {
    border-block-end: 1px solid var(--hl, lightgray);
}

/**** lists and checklists ****/

#write ol,
#write ul {
    padding-left: 1.75em;
    position: relative;
}

#write li::marker {
    color: var(--mg, gray);
}

/* unordered list bullets */

#write ul {
    list-style-type: disc;
    & ul {
        list-style-type: circle;
    }
}
/* ordered list numbering */

#write ol {
    list-style-type: decimal;
    line-height: 1.5em;
    > ol {
        list-style-type: lower-alpha;
        > ol {
            list-style-type: lower-roman;
            > ol {
                list-style-type: lower-greek;
                > ol {
                    list-style-type: upper-roman;
                }
            }
        }
    }
}

/* left border group indicator */

#write li ul::before {
    content: "";
    display: inline-block;
    width: 1px;
    background: var(--mg, lightgray);
    position: absolute;
    left: 0;
    height: 100%;
    opacity: 0.2;
}

/* checklists */

#write .md-task-list-item > input {
    -webkit-appearance: initial;
    appearance: initial;
    display: block;
    position: absolute;
    border: 1px solid var(--hl, lightgray);
    border-radius: 0.25rem;
    margin-top: 0.4rem;
    margin-left: -1.4rem;
    height: 1rem;
    width: 1rem;
    transition: all 0.3s;
}

#write .md-task-list-item > input[checked]::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 60%;
    width: 2px;
    transform: rotate(40deg);
    background: var(--mg, darkred);
}

#write .md-task-list-item > input[checked]::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 25%;
    height: 30%;
    width: 2px;
    transform: rotate(-40deg);
    background: var(--mg, darkred);
}

#write .md-task-list-item.task-list-done > p {
    opacity: 0.5;
    text-decoration: line-through;
}

/* table of contents */

.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
    display: none;
}

/** ported from https://codemirror.net/theme/material.css **/
/*

    Name:       material
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)

    Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme)

*/

.cm-s-inner {
    background-color: #263238;
    color: rgba(233, 237, 237, 1);
}

.cm-s-inner .CodeMirror-gutters {
    background: #263238;
    color: rgb(83, 127, 126);
    border: none;
}

.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
    color: rgb(83, 127, 126);
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 2px solid #f8f8f0;
}

.cm-s-inner div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.15);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: hsl(0 50% 80% / 0.4);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line > span::selection,
.cm-s-inner .CodeMirror-line > span > span::selection {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line > span::-moz-selection,
.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0);
}

.cm-s-inner .cm-keyword {
    color: rgba(199, 146, 234, 1);
}

.cm-s-inner .cm-operator {
    color: rgba(233, 237, 237, 1);
}

.cm-s-inner .cm-variable-2 {
    color: #80cbc4;
}

.cm-s-inner .cm-variable-3 {
    color: #82b1ff;
}

.cm-s-inner .cm-builtin {
    color: #decb6b;
}

.cm-s-inner .cm-atom {
    color: #f77669;
}

.cm-s-inner .cm-number {
    color: #f77669;
}

.cm-s-inner .cm-def {
    color: rgba(233, 237, 237, 1);
}

.cm-s-inner .cm-string {
    color: #c3e88d;
}

.cm-s-inner .cm-string-2 {
    color: #80cbc4;
}

.cm-s-inner .cm-comment {
    color: #546e7a;
}

.cm-s-inner .cm-variable {
    color: #82b1ff;
}

.cm-s-inner .cm-tag {
    color: #80cbc4;
}

.cm-s-inner .cm-meta {
    color: #80cbc4;
}

.cm-s-inner .cm-attribute {
    color: #ffcb6b;
}

.cm-s-inner .cm-property {
    color: #80cbae;
}

.cm-s-inner .cm-qualifier {
    color: #decb6b;
}

.cm-s-inner .cm-variable-3 {
    color: #decb6b;
}

.cm-s-inner .cm-tag {
    color: rgba(255, 83, 112, 1);
}

.cm-s-inner .cm-error {
    color: rgba(255, 255, 255, 1);
    background-color: #ec5f67;
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

/**apply to code fences with plan text**/
.md-fences {
    background-color: #263238;
    color: rgba(233, 237, 237, 1);
    border: none;
}

.md-fences .code-tooltip {
    background-color: #263238;
}
