@font-face {
    font-family: "Space Grotesk Freeze";
    src: url("SpaceGroteskFreeze-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Space Grotesk Freeze";
    src: url("SpaceGroteskFreeze-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Space Grotesk Freeze";
    src: url("SpaceGroteskFreeze-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Space Grotesk Freeze";
    src: url("SpaceGroteskFreeze-Light.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Space Mono";
    src: url("SpaceMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Space Mono";
    src: url("SpaceMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Space Mono";
    src: url("SpaceMono-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Space Mono";
    src: url("SpaceMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
