@import url('./Alex/alex-core.css');
:root {
    --bg-color: hsla(34, 20%, 7%, 1);
    --bg-80: hsla(34, 20%, 7%, 0.8);
    --quote-color: hsla(20, 19%, 15%, 1);
    --quote-80: hsla(20, 19%, 15%, 0.8);
    --accent-color: hsla(30, 60%, 65%, 1);
    --text-color: hsla(40, 30%, 80%, 1);
    --text-80: hsla(40, 30%, 80%, 0.8);
    --header-color: hsla(10, 60%, 60%, 1);
    --subheader-color: hsla(65, 50%, 65%, 1);
    --md-char-color: hsla(199, 100%, 80%, 1);
    --meta-content-color: hsla(199, 100%, 80%, 1);
    --primary-color: hsla(10, 88%, 23%, 1);
    --primary-btn-border-color: var(--header-color);
    --primary-btn-text-color: hsla(0, 0%, 20%, 1);
    --window-border: 1px solid hsla(240, 8%, 9%, 1);
    --active-file-bg-color: var(--accent-color);
    --active-file-text-color: var(--bg-color);
    --active-file-border-color: hsla(45, 83%, 16%, 0.2);
    --active-search-item-bg-color: var(--quote-color);
    --side-bar-bg-color: var(--quote-color);
    --item-hover-bg-color: var(--subheader-color);
    --item-hover-text-color: var(--bg-color);
    --search-select-text-color: hsla(0, 0%, 20%, 1);
    --search-select-bg-color: hsla(0, 69%, 36%, 0.7, 1);
    --select-text-bg-color: hsla(0, 12%, 16%, 0.5, 1);
    --rawblock-edit-panel-bd: hsla(0, 0%, 81%, 1);
    --node-fill: hsla(0, 0%, 98%, 1);
    --node-border: #0000001a;
    --filter: invert(55%) sepia(84%) saturate(2346%) hue-rotate(327deg) brightness(99%) contrast(79%);
}


/* background image */

content {
    background: url(./Alex/mist.gif);
    background-size: cover;
    background-position: bottom;
}

#write {
    backdrop-filter: brightness(20%) blur(10px) saturate(50%);
}


/* dark theme settings */

p,
table {
    font-weight: 200;
}

mark {
    font-weight: 400;
}