@font-face {
	font-family: 'Miranda Sans';
	src: url('./MirandaSans-VariableFont_wght.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'Miranda Sans';
	src: url('./MirandaSans-Italic-VariableFont_wght.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Crimson Pro';
	src: url('./CrimsonPro-VariableFont_wght.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'Crimson Pro';
	src: url('./CrimsonPro-Italic-VariableFont_wght.ttf');
	font-style: italic;
}

html {
	font-family: 'Miranda Sans', sans-serif;
}

:where(#write) {
	/* font-feature-settings: 'ss02', 'ss04'; */
	& :where(h1) {
		color: var(--foreground-3);
		letter-spacing: -2px;
	}

	& :where(h2, h3, h4) {
		color: var(--foreground-2);
	}

	& :where(h2, h3) {
		letter-spacing: -1px;
	}
}
