@font-face {
    font-family: "Departure Mono";
    src: local("Departure Mono"),
        url("./DepartureMono-Regular.otf") format("opentype"),
        url("./DepartureMono-Regular.woff") format("woff");
}

@font-face {
    font-family: "Server Mono";
    src: url("./ServerMono-Regular.otf");
    font-style: normal;
}

@font-face {
    font-family: "Server Mono";
    src: url("./ServerMono-Regular-Italic.otf.otf");
    font-style: italic;
}
